<div>
    <button (click)="addTask()" class="btn btn-success" title="click on me">Add task</button>
</div>

<div class="task" *ngFor='let task of taskList; let i = index'>
    
    <div class="bg-warning">
        <span class="title font-weight-bold">Task number:</span> {{i + 1}}

        <span class="remove">
            <button (click)="removeTask(i)" class="btn btn-danger float-right" title="Delete"> x</button>
        </span>
    </div>

    <div class="row">
        <span class="title col-1">Title:</span>
        <input [(ngModel)]="task.title" type="text" class="form-control col-6 font-weight-bold font-italic" placeholder="Your Title text">
    </div>
    <div>
        <span class="title">Description:</span>
        <input [(ngModel)]="task.description" type="text" class="form-control" placeholder="Your Description text">
    </div>
</div>