<div>
    <button (click)="addTask()" class="btn btn-success" title="click on me">Add task</button>
</div>

<div class="task" *ngFor='let task of taskList; let i = index'>
    
    <div>
        <span class="title bg-warning">Task number:</span> {{i + 1}}

        <span class="remove">
            <button (click)="removeTask(i)" class="btn btn-danger" title="Delete"> x</button>
        </span>
    </div>

    <div>
        <span class="title">Title:</span>
        <input [(ngModel)]="task.title" type="text" class="form-control" placeholder="Your Title text">
    </div>

    <div>
        <span class="title">Description:</span>
        <input [(ngModel)]="task.description" type="text" class="form-control" placeholder="Your Description text">
    </div>
</div>