.task{
    padding: 5px;


    .title{
        margin: 10px;
        padding-left: 0;
    }

    .bg-warning{
        height: 38px;

        .remove{
            padding-left: 95px;
            margin: 10px;
        }
    }

}
div{
    margin: 10px;
}